.active{
    border-bottom: 2px solid white;
}

.mobile-nav{
    display: none;
}

@media screen and (max-width:500px){
    .mobile-nav{
        display: block;
    }
    .web-nav{
        display: none;
    }
}