@import "tailwindcss";
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
  color: black;
}

.layout-body{
  height: 100vh;
  /* background-color: aqua; */
}

:root::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}
:root::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

:root::-webkit-scrollbar-thumb {
  background: #a2a2a2; /* Scrollbar handle */
  border-radius: 10px;
}